.homepage {
    width: 100vw;
    height: 100vh;

    display: block;
    position: relative;
    top: 67px;
}


.homepage h1 {
    height: 110px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #293845;
    letter-spacing: 0.04em;

    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;


}

.homepage .movie-list {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}