.seat-circle {
    width: 26px;
    height: 26px;

    background: #C3CFD9;
    border: 1px solid #808F9D;
    box-sizing: border-box;
    border-radius: 50%;

    margin: 8px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.seat-circle p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #000000;
}

.true {}

.false {
    background: #FBE192;
    border: 1px solid #F7C52B;
}

.selected {
    background: #8DD7CF;
    border: 1px solid #45BDB0;
}