.session-page {
    width: 100vw;
    height: 100vh;

    display: block;
    position: relative;
    top: 67px;
}

.session-page h1 {
    height: 110px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #293845;
    letter-spacing: 0.04em;

    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}